.custom-img-container {

  width: 250px; /* Ancho deseado para el contenedor de la imagen */
  height: 140px; /* Altura deseada para el contenedor de la imagen */
  overflow: hidden;

}

.custom-img {

  width: 100%; /* La imagen se ajustará al ancho del contenedor */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
  object-fit: cover; /* La imagen se ajustará para cubrir completamente el espacio disponible sin deformación */
}
