
<div class="Modern-Slider">
  <!-- Slide 1 -->
  <div class="item">
    <div class="img-fill">
      <img src="./assets/images/main_slide_03.jpg" alt="">
      <div class="info">
        <div >
            <h5>¡En Autos Cadereyta lo tenemos!</h5>
            <h3>¿Buscas el <em>carro</em> Perfecto?</h3>

            <h6 class="secondary-button">
              <a href="catalogo">ENCUENTRA TU AUTO  <i class="fa fa-car"></i></a>
            </h6>
        </div>
      </div>
    </div>
  </div>
  <!-- // Slide 1 -->
  <!-- Slide 2 -->
  <div class="item">
    <div class="img-fill">
      <img src="./assets/images/main_slide_01.jpg" alt="">
      <div class="info">
        <div>
          <h5>¡En Autos Cadereyta lo tenemos!</h5>
            <h3>¿Buscas un auto de calidad al <em> mejor precio</em>?</h3>
            <h6 class="secondary-button">
              <a href="catalogo">ENCUENTRA TU AUTO  <i class="fa fa-car"></i></a>
            </h6>
        </div>
      </div>
    </div>
  </div>
  <!-- // Slide 2 -->
  <!-- Slide 3 -->
  <div class="item">
    <div class="img-fill">
      <img src="./assets/images/main_slide_02.jpg" alt="">
      <div class="info">
        <div>
          <h5>¡En Autos Cadereyta lo tenemos!</h5>
            <h3>¿Quieres un auto que se ajuste a tu <em>estilo de vida</em>?</h3>
            <h6 class="secondary-button">
              <a href="catalogo">ENCUENTRA TU AUTO <i class="fa fa-car"></i></a>
            </h6>
        </div>
      </div>
    </div>
  </div>
  <!-- // Slide 3 -->
</div>


<section class="top-slider-features wow fadeIn" data-wow-duration="1.5s">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="slider-top-features">
          <div id="owl-top-features" class="owl-carousel owl-theme">




            <div class="item car-item" title="{{Autosano[0].marca}} {{Autosano[0].modelo}} {{Autosano[0].Ano}}">
              <div class="thumb-content">
                <div class="custom-img-container">
                  <img src={{Autosano[0].foto1Url}} class="card-img-top custom-img" alt="Descripción de la imagen">
                </div>

              </div>
              <div class="down-content">
                <h5 class="card-title custom-text" >{{Autosano[0].marca}} {{Autosano[0].modelo}} {{Autosano[0].Ano}}</h5>
                <a href="auto/{{Autosano[0].id}}" class="btn btn-sm btn-primary">Mas Informacion</a>
              </div>
            </div>
            <div class="item car-item" title="{{Autosano[1].marca}} {{Autosano[1].modelo}} {{Autosano[1].Ano}}" >
              <div class="thumb-content">
                <div class="custom-img-container">
                  <img src={{Autosano[1].foto1Url}} class="card-img-top custom-img" alt="Descripción de la imagen">
                </div>

              </div>
              <div class="down-content">
                <h5 class="card-title custom-text" >{{Autosano[1].marca}} {{Autosano[1].modelo}} {{Autosano[1].Ano}}</h5>
                <a href="auto/{{Autosano[1].id}}" class="btn btn-sm btn-primary">Mas Informacion</a>
              </div>
            </div>

            <div class="item car-item" title="{{Autosano[2].marca}} {{Autosano[2].modelo}} {{Autosano[2].Ano}}">
              <div class="thumb-content">
                <div class="custom-img-container">
                  <img src={{Autosano[2].foto1Url}} class="card-img-top custom-img" alt="Descripción de la imagen">
                </div>

              </div>
              <div class="down-content">
                <h5 class="card-title custom-text" >{{Autosano[2].marca}} {{Autosano[2].modelo}} {{Autosano[2].Ano}}</h5>
                <a href="auto/{{Autosano[2].id}}" class="btn btn-sm btn-primary">Mas Informacion</a>
              </div>
            </div>
            <div class="item car-item"  title="{{Autosano[3].marca}} {{Autosano[3].modelo}} {{Autosano[3].Ano}}">
              <div class="thumb-content">
                <div class="custom-img-container">
                  <img src={{Autosano[3].foto1Url}} class="card-img-top custom-img" alt="Descripción de la imagen">
                </div>

              </div>
              <div class="down-content">
                <h5 class="card-title custom-text" >{{Autosano[3].marca}} {{Autosano[3].modelo}} {{Autosano[3].Ano}}</h5>
                <a href="auto/{{Autosano[3].id}}"class="btn btn-sm btn-primary">Mas Informacion</a>
              </div>
            </div>

            <div class="item car-item" title="{{Autosano[4].marca}} {{Autosano[4].modelo}} {{Autosano[4].Ano}}">
              <div class="thumb-content">
                <div class="custom-img-container">
                  <img src={{Autosano[4].foto1Url}} class="card-img-top custom-img" alt="Descripción de la imagen">
                </div>

              </div>
              <div class="down-content">
                <h5 class="card-title custom-text" >{{Autosano[4].marca}} {{Autosano[4].modelo}} {{Autosano[4].Ano}}</h5>
                <a href="auto/{{Autosano[4].id}}"class="btn btn-sm btn-primary">Mas Informacion</a>
              </div>
            </div>
            <div class="item car-item" title="{{Autosano[5].marca}} {{Autosano[5].modelo}} {{Autosano[5].Ano}}">
              <div class="thumb-content">
                <div class="custom-img-container">
                  <img src={{Autosano[5].foto1Url}} class="card-img-top custom-img" alt="Descripción de la imagen">
                </div>

              </div>
              <div class="down-content">
                <h5 class="card-title custom-text" >{{Autosano[5].marca}} {{Autosano[5].modelo}} {{Autosano[5].Ano}}</h5>
                <a href="auto/{{Autosano[5].id}}" class="btn btn-sm btn-primary">Mas Informacion</a>
              </div>
            </div>










          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--info 2 -->
<section>
  <div class="features-search-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <div class="service-item wow fadeIn" Autosano-wow-duration="0.75s">
              <i class="fa fa-car"></i>
                <div class="text-content">
                <h6> Compra y venta de autos</h6>
                <p>Miles de opciones de autos seminuevos a tu alcance. Cada uno de ellos meticulosamente verificado para tu tranquilidad.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service-item wow fadeIn" data-wow-duration="0.75s">
              <i class="fa fa-search"></i>
                <div class="text-content">
                <h6>Encuentra un auto</h6>
                <p>Cientos de autos seminuevos disponibles. Validamos su estatus legal y mecánico. Puedes verlo en persona para tu tranquilidad.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service-item wow fadeIn" data-wow-duration="0.75s">
              <i class="fa fa-users"></i>
                <div class="text-content">
                <h6>Clientes</h6>
                <p> Más que autos seminuevos, ofrecemos un servicio al cliente excepcional. Cada vehículo meticulosamente verificado para tu tranquilidad.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="service-item wow fadeIn" data-wow-duration="0.75s">
              <i class="fa fa-globe"></i>
                <div class="text-content">
                <h6>Servicios</h6>
                <p> No solo te ofrecemos una amplia gama de autos seminuevos, sino también servicios para mantener tu auto en su mejor estado.        <br><br></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="search-content wow fadeIn" data-wow-duration="0.75s">
          <div class="search-heading">
            <div class="icon">
              <i class="fa fa-search"></i>
            </div>
            <div class="text-content">
              <h2>Busqueda rapida</h2>
              <span>Haz una busqueda rapida para encontrar tu auto ideal.</span>
            </div>
          </div>
          <div class="search-form">
            <div class="row">
                            <div class="col-md-12">
                                <div class="input-select">
                                  <select name="brand" id="brand" [(ngModel)]="Marcas" (change)="marca()">
                                    <option value="" selected>Selecciona Marca</option>
                                    <option *ngFor="let marcas of AutosMarcas" >{{ marcas.marca }}</option>
                                  </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="input-select">
                                    <select name="mark" id="mark"  [(ngModel)]="Modelo">
                                        <option value="" selected>Selecciona Modelo</option>
                                          <option *ngFor="let modelo of AutosModelo" >{{modelo.modelo}}</option>

                                    </select>
                                </div>
                            </div>


                            <div class="col-md-12">
                              <div class="secondary-button">
                                <a href="autos/{{Marcas}}/{{Modelo}}">Buscar <i class="fa fa-search"></i></a>
                              </div>
                            </div>
                        </div>
                    </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!--info3-->

<section>
  <div class="our-clients">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <div class="icon">
              <i class="fa fa-car"></i>
            </div>
            <div class="text-content">
              <h2>Las mejores marcas</h2>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="owl-clients" class="owl-carousel owl-theme">
            <a href="autos/TOYOTA" title="TOYOTA">
              <div class="item"  >
              <img src="./assets/images/toyotalogo.png" alt="">
            </div>
          </a>
          <a href="autos/SUZUKI" title="SUZUKI">
            <div class="item">
              <img src="./assets/images/suzuki (2).jpg" alt="">
            </div>
          </a>
          <a href="autos/HONDA" title="HONDA">
            <div class="item">
              <img src="./assets/images/honda-logo.png" alt="">
            </div>
          </a>
           <a href="autos/FORD" title="FORD">
            <div class="item">
              <img src="./assets/images/ford-logo.png" alt="">
            </div>
           </a>

           <a href="autos/HYUNDAI" title="HYUNDAI">
            <div class="item">
              <img src="./assets/images/hyundai-logo.png" alt="">
            </div>
           </a>
           <a href="autos/CHEVROLET" title="CHEVROLET">
            <div class="item">
              <img src="./assets/images/Chevrolet-log.jpg" alt="">
            </div>
          </a>
            <a href="autos/JEEP" title="JEEP">
            <div class="item">
              <img src="./assets/images/Jeepp.jpg" alt="">
            </div>
          </a>
            <a href="autos/NISSAN" title="NISSAN">
            <div class="item">
              <img src="./assets/images/nissan.jpg" alt="">
            </div>
          </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--info4 carros-->
<section>
  <div class="recent-cars">
    <div class="container">
      <div class="recent-car-content">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <div class="icon">
                <i class="fa fa-car"></i>
              </div>
              <div class="text-content">
                <h2>Autos agregados recientemente</h2>
                <span>Encuentra tu Auto ideal</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6"  *ngFor="let reciente of Autosrecientes">
            <div class="car-item wow fadeIn" data-wow-duration="0.75s">
              <div class="thumb-content" >
                <div class="car-banner">
                  <a href="auto/{{reciente.id}}">En venta</a>
                </div>
                <div class="custom-img-container2">
                  <img  src={{reciente.foto1Url}} class="card-img-top custom-img" alt="Descripción de la imagen">
                </div>
              </div>
              <div class="down-content">
                <a href="auto/{{reciente.id}}" class="card-title custom-text"><h4>{{reciente.marca}} {{reciente.modelo}}</h4></a>
                <span>${{reciente.precio| number: '3.1-2'}}</span>
                <p class="card-title custom-text" > {{reciente.caracteristicas}}</p>
                <ul class="car-info">
                  <li><div class="item"><i class="flaticon flaticon-calendar"></i><p>{{reciente.Ano}}</p></div></li>
                  <li><div class="item"><i class="flaticon flaticon-speed"></i><p>{{reciente.motor}}</p></div></li>
                  <li><div class="item"><i class="flaticon flaticon-road"></i><p>{{reciente.kilometraje}}km</p></div></li>
                  <li><div class="item"><i class="flaticon flaticon-fuel"></i><p>{{reciente.combustible}}</p></div></li>
                </ul>
                <br>
                <a href="auto/{{reciente.id}}">
                <button    type="button"class="btn btn-primary btn-block">Ver mas</button></a>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<!--info5 testimonios-->
<section>
  <div class="col-md-12">
    <div class="section-heading">
      <div class="icon">
        <i class="fa fa-users"></i>
      </div>
      <div class="text-content">
        <h2>Testimonios</h2>
        <span>Nuestros clientes satisfechos</span>
      </div>
    </div>
  </div>

  <div class="testimonials">
    <div class="container">
      <div id="owl-testimonials" class="owl-carousel owl-theme">
         <div class="item wow fadeIn" data-wow-duration="0.75s">
           <ul class="star-rating">
             <li><i class="fa fa-star"></i></li>
             <li><i class="fa fa-star"></i></li>
             <li><i class="fa fa-star"></i></li>
             <li><i class="fa fa-star"></i></li>
             <li><i class="fa fa-star"></i></li>
           </ul>
           <div class="line-dec"></div>
            <p class="card-title custom-text"><em>"</em> Excelente servicio <em>"</em></p>
            <div class="author-rate">
              <img src="./assets/images/hombre.jpg" alt="">
              <h4>Raul Elizalde</h4>
              <div class="line-dec2"></div>
              <span>Cliente</span>
            </div>
          </div>
          <div class="item wow fadeIn" data-wow-duration="0.75s">
           <ul class="star-rating">
             <li><i class="fa fa-star"></i></li>
             <li><i class="fa fa-star"></i></li>
             <li><i class="fa fa-star"></i></li>
             <li><i class="fa fa-star"></i></li>
             <li><i class="fa fa-star"></i></li>
           </ul>
           <div class="line-dec"></div>
            <p class="card-title custom-text"><em>"</em>100% recomendable<em>"</em></p>
            <div class="author-rate">
              <img src="./assets/images/hombre.jpg" alt="">
              <h4>Manuel Cavazos</h4>
              <div class="line-dec2"></div>
              <span>Cliente</span>
            </div>
          </div>
          <div class="item wow fadeIn" data-wow-duration="0.75s">
           <ul class="star-rating">
             <li><i class="fa fa-star"></i></li>
             <li><i class="fa fa-star"></i></li>
             <li><i class="fa fa-star"></i></li>
             <li><i class="fa fa-star"></i></li>
             <li><i class="fa fa-star"></i></li>
           </ul>
           <div class="line-dec"></div>
            <p class="card-title custom-text"><em>"</em> Buen trato  <em>"</em></p>
            <div class="author-rate">
              <img src="./assets/images/hombre.jpg" alt="">
              <h4>Arturo Vela</h4>
              <div class="line-dec2"></div>
              <span>Cliente</span>
            </div>
          </div>
          <div class="item wow fadeIn" data-wow-duration="1.75s">
           <ul class="star-rating">
             <li><i class="fa fa-star"></i></li>
             <li><i class="fa fa-star"></i></li>
             <li><i class="fa fa-star"></i></li>
             <li><i class="fa fa-star"></i></li>
             <li><i class="fa fa-star"></i></li>
           </ul>
           <div class="line-dec"></div>
            <p class="card-title custom-text"><em>"</em> Muy lindos autos y en excelentes condiciones<em>"</em></p>
            <div class="author-rate">
              <img src="./assets/images/mujer.jpg" alt="">
              <h4>Maria Lopez</h4>
              <div class="line-dec2"></div>
              <span>Cliente</span>
            </div>
          </div>
      </div>

    </div>
  </div>
</section>

<!--info6 nuevos-->






