<app-header></app-header>
<div>
  <!-- Contenido de tu aplicación -->
  <router-outlet></router-outlet>
  <footer>
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="footer-item">
						<div class="about-us">
							<h2>Acerca de nosotros</h2>
							<p>En Autos Cadereyta, somos una agencia especializada en la compra y venta de automóviles. Nuestra misión es proporcionar a nuestros clientes una experiencia excepcional al adquirir o vender su vehículo. Ofrecemos una amplia gama de autos seminuevos de alta calidad, meticulosamente verificados para garantizar la tranquilidad de nuestros clientes.</p>
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-behance"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>

							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="footer-item">
						<div class="what-offer">
							<h2>¿Que ofrecemos?</h2>
							<ul>
								<li><a href="#">Venta de autos</a></li>
								<li><a href="#">Compra de autos</a></li>
								<li><a href="#">Servicio a tu auto</a></li>

							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="footer-item">
						<div class="our-gallery">
							<h2>Nuestra Galeria</h2>
							<ul>
								<li><a href="#"><img src="http://placehold.it/70x70" alt=""></a></li>
								<li><a href="#"><img src="http://placehold.it/70x70" alt=""></a></li>
								<li><a href="#"><img src="http://placehold.it/70x70" alt=""></a></li>
								<li><a href="#"><img src="http://placehold.it/70x70" alt=""></a></li>
								<li><a href="#"><img src="http://placehold.it/70x70" alt=""></a></li>
								<li><a href="#"><img src="http://placehold.it/70x70" alt=""></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-12">
					<div class="sub-footer">
						<p>Copyright 2023. Todos los derechos reservados: <a href="#">Francisco Peñaloza</a></p>
					</div>
				</div>
			</div>
		</div>
	</footer>

</div>
