<div class="page-heading wow fadeIn" data-wow-duration="0.5s">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-content-bg wow fadeIn" data-wow-delay="0.75s" data-wow-duration="1s">
          <div class="row">
            <div class="heading-content col-md-12">
              <p><a >Inicio</a> / <em>Contacto</em></p>
              <h2>Informacion de <em>Contacto</em></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br> <br>

<div class="contact-us wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">

  <div id="map">
    <div style=" display: flex; justify-content: center;">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14393.313628902926!2d-100.0333004914235!3d25.594001320820496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662db8d190c32bf%3A0xe8b74fc8dfd14bd7!2sAUTOS%20CADEREYTA!5e0!3m2!1ses-419!2smx!4v1696122205753!5m2!1ses-419!2smx" width="1000" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div></div>
<br>
<br>
<section>
  <div class="contact-content wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1s">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="send-message">
            <div class="sep-section-heading">
              <h2>Sobre <em>Nosotros</em></h2>
            </div>
            <p>En Autos Cadereyta, estamos comprometidos a ofrecerte una experiencia excepcional en la compra y venta de automóviles. Nuestra misión es proporcionarte vehículos de calidad y un servicio personalizado que se adapte a tus necesidades.</p>
            <p>Ya sea que estés buscando comprar un automóvil confiable o deseas vender el tuyo, nuestro equipo de expertos está listo para ayudarte en cada paso del proceso. ¡Confía en Autos Cadereyta para tus necesidades de automóviles y descubre la diferencia!
            </p>
                          <p>Visítanos hoy o contáctanos para obtener más información. Estamos aquí para servirte.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-info">
            <div class="sep-section-heading">
              <h2>Informacion de <em>Contacto</em></h2>
            </div>

            <div class="info-list">
              <ul>
                <li><i class="fa fa-phone"></i><span>441 688 0492</span></li>
                <li><i class="fa fa-envelope"></i><span>
                  autos.cadereyta@gmail.com</span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
